@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #22A9D8;
}
.img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: auto;
  }
  .image {
    background-color: #22A9D8;
    background-image: url(https://res.cloudinary.com/dmye53wps/image/upload/v1713993855/photo_5859621421372785896_y_a6hksv.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    color: #fff;
  }
  .content {
    display: grid;
  }
  .tg {
    --size: 58px;
  width: var(--size);
  height: var(--size);
  border-radius: 16px;
  border: 1px solid #fff;
  box-shadow: 1px 3px #fff;
  background-color: #3a80fe;
  display: flex;
  align-items: center;
  justify-content: center;
  }
  .tg:hover {
    background-color: #00B700;
    box-shadow: 0 0;
  border: 1px solid #3A80FE;
  }
  .farmbtn {
    background-color: #00B700;
  border: 1px solid #fff;
  border-radius: 16px;
  box-shadow: 2px 3px #fff;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 160%;
  padding: 16px 24px;
  }
  .farmbtn:hover {
    background-color: #00B700 !important;
  border-color: #00B700 !important;
  color: #fff !important;
  }
  .h1 {
    text-shadow: 8px 10px 0px #000;
  }
  .copybg {
    border: 1px solid #fff;
  background-color: #3a80fe;
  border-radius: 12px;
  box-shadow: 2px 4px #fff;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  }
  .copybtn {
    box-shadow: 0 4px #089308;
  }
  .who {
    font-size: 100px;
  line-height: 90%;
  text-shadow: 8px 10px 0px #000;
  margin-bottom: 24px;
  }
  .num {
    font-size: 50px;
  line-height: 90%;
  --size: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #519dff;
  border-radius: 100%;
  box-shadow: 4px 4px #000;
  margin-bottom: 24px;
  text-shadow: 6px 6px 0 #000;
  }
  .bigcard {
    padding: 80px 40px 40px;
  border: 1px solid #000;
  border-radius: 24px;
  box-shadow: 8px 8px #000;
  background-color: #519dff;
  }
  .subtitle {
    font-size: 37px;
    line-height: 90%;
    text-shadow: 3px 4px 0 #000;
    margin-bottom: 24px;
  }
  .join {
    color: #000;
    text-shadow: 6px 6px 0 #fff;
    font-size: 70px;
  line-height: 90%;
  margin-bottom: 24px;
  }
  .tgjoin {
  border-radius: 16px;
  border: 1px solid #fff;
  box-shadow: 1px 3px #fff;
  background-color: #3a80fe;
  display: flex;
  align-items: center;
  justify-content: center;
  }
  .tg:hover {
    background-color: #00B700;
    box-shadow: 0 0;
  border: 1px solid #3A80FE;
  }
  .foot {
    padding: 32px 0;
  border-top: 1px solid rgba(0,0,0,.19);
  
  }